@use '../utils' as u;

.hero {
  display: flex;

  .hero-left {
    position: relative;
    width: 85%;
    background: url('../../images/illustrations/hero.png') no-repeat center/cover;
    aspect-ratio: 16 / 9;

    .text-box-sub {
      position: absolute;
      height: 100%;
      width: 50%;
      right: 0;
      display: flex;
      align-items: center;

      .text-box {
        display: flex;
        flex-direction: column;
        @include u.margin(5);
        @include u.gap(3);
      }
    }
  }
}