@import '../_layout.scss';

nav {
  height: 60px;
  // width: 100%;
  background-color: $black-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 0px $gutter;

  .brand {
    display: flex;
  }

  li {
    display: flex;
  }
}