@use '_layout.scss' as *;

body {
  margin: 0;
  font-family: $font;
  color: $text;
  line-height: 1.6;
  background: #ffffff;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

h3 {
  @include title(22px);
}

h4 {
  @include title(20px);
}

strong {
  font-weight: 600;
}