@import '_layout.scss';

header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 30px;

  .menu-mobile {
    display: none;
    cursor: pointer;
  }

  nav {
    display: flex;
    justify-content: center;
    gap: 60px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;

    &>div {
      display: flex;
      align-items: center;
      gap: 30px;

      a {
        transition: $transition-time-default;
        white-space: nowrap;

        &:hover {
          color: $primary-green-default;
        }
      }
    }
  }

  @media (max-width: 900px) {
    background-color: $neutral-white-darker !important;
    

    .menu-mobile {
      display: flex;
      justify-content: center;
      background-color: $neutral-white-darker;
    }

    nav {
      flex-direction: column;
      background-color: $neutral-white-darker;
      min-height: 100vh;
      width: 100vw;
      display: none;

      &>div {
        flex-direction: column;
      }

      .header-logo {
        display: none;
      }
    }
  }
}

.active-mobile-nav {
  display: flex !important;
}