@use 'layout';

body {
  header {
    h3 {
      color: layout.$primary-blue;
    }
  }

  #sec-1 {
    border: 1px solid layout.$grey;
  }

  #sec-2 {
    display: flex;
    gap: 30px;

    button {
      background-color: layout.$primary-blue;
      color: layout.$primary-white;
      border: none;
      font-size: 13px;

      &:hover {
        background-color: layout.$light-blue;
        transition: layout.$transition;
      }
    }
  }

    footer {
      margin-top: 20px;

      a {
        color: layout.$grey;
        text-decoration: underline;
        font-size: layout.$mini-txt-size;

        &:hover {
          text-decoration: none;
        }
      }
    }

  p {
    font-size: layout.$primary-font-size;

    &.p-2 {
      text-decoration: underline;
    }

    &.p-3 {
      color: red;
    }
  }

  button {
    cursor: pointer;
  }
}