@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

$primary-blue: #008eec;
$light-blue: #37afff;
$primary-white: #fff;
$primary-font-size: 15px;
$mini-txt-size: 12px;
$grey: #7a7a7a;
$transition: all .1s;

body {
  font-family: 'Source Code Pro', sans-serif;
}