@import '_layout.scss';

footer {
  display: flex;
  justify-content: space-between;
  padding: 75px 15vw;
  background-color: $neutral-white-darker;

  >:nth-child(1) {
    p {
      text-align: left;

      &:first-child {
        font-weight: 500;
      }

      span {
        font-style: italic;
      }
    }
  }

  >:nth-child(2) {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  >:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}