.home {
  .banner {
    background-image: url('../../images/content/img-ban.jpg');
    height: 100vh;
    width: 100vw;
    background-size: auto 100%;
    background-position: 72% top;
    background-repeat: no-repeat;
  }

  .introduction, .reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 15vw;
    gap: 20px;
    background-color: #f2f2f2;
  }

  .grid-presentation {

    .cont-logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cont-desc {
      .presentation-desc {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 50px;

        &::after {
          background-color: #fff;
          display: inline-block;
          content: "";
          width: 15px;
          height: 15px;
          position: absolute;
          transform: rotate(45deg) translateX(-50%);
          left: 50%;
          bottom: -12px;
        }
      }

      .presentation-illustration {
        display: flex;

        img {
          background-repeat: no-repeat;
        }
      }

      hr {
        height: 2px;
        border: none;
        background-color: #e8e8e8;
        width: 20%;
      }
    }

    .grid-line {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

      &.grid-two-part {
        grid-template-columns: 65% 35%;
      }

      &.grid-two-part-reverse {
        grid-template-columns: 33.4% 65.6%;
        .cont-logo { order: 1; }
        .cont-desc { order: 0; }
      }
    }
  }

  .reviews {
    img {
      width: 25px;
    }

    .review-infos {
      font-weight: 500;
      letter-spacing: 0.5px;
    }

    .review-text {
      font-style: italic;
    }

    span {
      color: #acacac;

      &.review-sep {
        margin: 0px 5px;
      }
    }

    .review-dots {
      display: flex;
      gap: 7px;

      div {
        width: 7px;
        height: 7px;
        border: 1px solid #ababab;
        border-radius: 100px;
        cursor: pointer;

        &.dot-selected {
          background-color: #ababab;
        }
      }
    }
  }

  .gallery {
    display: flex;
    background-color: yellow;
    height: 450px;

    .gallery-block {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      &:nth-child(2) {
        flex-direction: row;

        .block-item {
          height: 100%;
        }
      }

      .two-items-gallery {
        display: flex;
      }

      .block-item {
        flex-grow: 1;
      }

      .block-item {
        height: 225px;
        position: relative;
        cursor: pointer;

        .hover-item {
          position: absolute;
          background-color: rgb(78, 180, 153);
          opacity: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          transition: 0.2s ease;

          &:hover {
            opacity: 0.8;
          }

          img {
            width: 40px;
            height: 23.5px;
          }

          p {
            font-weight: 500;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 2px;
          }
        }
      }
    }
  }

  .discover {
    background-color: #272727;
    display: flex;
    justify-content: center;
    padding: 60px 0px;
    
    a {
      color: #fff;
      padding: 10px 35px;
      border: 1px solid #fff;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 2px;
      font-size: 11px;
      transition: 0.2s;

      &:hover {
        background-color: #fff;
        color: #272727;
      }
    }
  }

  .newsletter {
    padding: 75px 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    p {
      font-style: italic;
    }

    form {
      height: 40px;
      min-width: 25vw;
      display: flex;
      gap: 5px;

      input[type=email] {
        border: 1px solid #d1d1d1;
        padding: 0px 20px;
        height: 100%;
        flex-grow: 1;
        
        &::placeholder {
          font-style: italic;
          color: #d1d1d1;
        }
      }

      input[type=submit] {
        background-color: rgb(78, 180, 153);
        border: none;
        color: #fff;
        text-transform: uppercase;
        height: calc(100% + 2px);
        padding: 0px 20px;
      }
    }
  }
}

.presentation-title {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 15px;
}

p {
  text-align: center;
  line-height: 2.2;
  font-size: 13px;
  margin: 0px;
}