@import '_layout.scss';

.home {
  .banner {
    background-image: url('../../images/content/img-ban.jpg');
    height: 100vh;
    width: 100vw;
    background-size: auto 100%;
    background-position: 72% top;
    background-repeat: no-repeat;
  }

  .introduction, .reviews {
    @include section-layout($neutral-white-darker);
  }

  .grid-presentation {

    .cont-logo {
      @include flex-center;
    }

    .cont-desc {
      .presentation-desc {
        position: relative;
        @include flex-center(column, 20px);
        padding: 50px;

        &::after {
          background-color: $neutral-white-default;
          display: inline-block;
          content: "";
          width: 15px;
          height: 15px;
          position: absolute;
          transform: rotate(45deg) translateX(-50%);
          left: 50%;
          bottom: -12px;
        }
      }

      .presentation-illustration {
        display: flex;

        img {
          background-repeat: no-repeat;
        }
      }

      hr {
        height: 2px;
        border: none;
        background-color: $neutral-white-darker;
        width: 20%;
      }
    }

    .grid-line {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

      &.grid-two-part {
        grid-template-columns: 65% 35%;
      }

      &.grid-two-part-reverse {
        grid-template-columns: 33.4% 65.6%;
        .cont-logo { order: 1; }
        .cont-desc { order: 0; }
      }
    }
  }

  .reviews {
    img {
      width: 25px;
    }

    .review-infos {
      font-weight: 500;
      letter-spacing: 0.5px;
    }

    .review-text {
      font-style: italic;
    }

    span {
      color: $neutral-white-darker-2;

      &.review-sep {
        margin: 0px 5px;
      }
    }

    .review-dots {
      display: flex;
      gap: 7px;

      div {
        width: 7px;
        height: 7px;
        border: 1px solid $neutral-white-darker-2;
        border-radius: 100px;
        cursor: pointer;

        &.dot-selected {
          background-color: $neutral-white-darker-2;
        }
      }
    }
  }

  .gallery {
    display: flex;
    height: 450px;

    .gallery-block {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      &:nth-child(2) {
        flex-direction: row;

        .block-item {
          height: 100%;
        }
      }

      .two-items-gallery {
        display: flex;
      }

      .block-item {
        flex-grow: 1;
      }

      .block-item {
        height: 225px;
        position: relative;
        cursor: pointer;

        .hover-item {
          @extend %card-hover-overlay;

          &:hover {
            opacity: 0.8;
          }

          img {
            width: 40px;
            height: 23.5px;
          }

          p {
            @include label-uppercase;
            color: $neutral-white-default;
          }
        }
      }
    }
  }

  .discover {
    background-color: $neutral-black-default;
    @include flex-center;
    padding: 60px 0px;
    
    a {
      @include label-uppercase;
      color: $neutral-white-default;
      padding: 10px 35px;
      border: 1px solid $neutral-white-default;
      transition: $transition-time-default;

      &:hover {
        background-color: $neutral-white-default;
        color: $neutral-black-default; 
      }
    }
  }

  .newsletter {
    @include section-layout;
    
    p {
      font-style: italic;
    }

    form {
      height: 40px;
      min-width: 25vw;
      display: flex;
      gap: 5px;

      input[type=email] {
        border: 1px solid $neutral-white-darker-2;
        padding: 0px 20px;
        height: 100%;
        flex-grow: 1;
        
        &::placeholder {
          font-style: italic;
          color: $neutral-white-darker-2;
        }
      }

      input[type=submit] {
        background-color: $primary-green-default;
        border: none;
        color: $neutral-white-default;
        text-transform: uppercase;
        height: calc(100% + 2px);
        padding: 0px 20px;
        cursor: pointer;
        transition: $transition-time-default;

        &:hover {
          background-color: $primary-green-darker;
        }
      }
    }
  }
}

.presentation-title {
  @include label-uppercase;
}

p {
  @extend %text-body;
}