@use 'variables' as v;
@use 'text' as t;

body {
  background-color: v.$blue-primary;
  @include t.text(p1);
  width: 100vw;
  overflow-x: hidden;
}

section {
  width: 100%;
}

.page-container {
  margin: 0px 3%;
}