@use 'reset';

@use 'variables';
@use 'text';
@use 'utils';
@use 'base';

@use './components/navbar';
@use './components/footer';
@use './components/separator';

@use './sections/hero';
@use './sections/promotions';
@use './sections/coffees-presentation';

@use 'layout';