.contact {
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  label {
    display: flex;
    flex-direction: column;
  }

  input, textarea {
    margin-top: 10px;
  }

  textarea {
    height: 80px;
  }
}