@use 'layout.scss';

.home {
  .hero {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .features {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .feature {
    @extend %box-shadow;
    border: 2px solid black;
    padding: 12px 17px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &#feature-1 {
      @include layout.background-image('../images/gradient_1.jpg');
    }

    &#feature-2 {
      @include layout.background-image('../images/gradient_2.jpg');
    }

    &:hover {
      scale: 1.05;
      transition: 0.15s;
    }

    h2 {
      font-size: 17px;
      font-weight: bold;
    }
  }
}