@use '../_layout.scss' as *;

.about {
  display: flex;

  .about-img {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.07);

    img {
      width: 100%;
      height: auto;
    }
  }

  .about-text {
    font-size: 16px;
    padding: 45px 12vw 0px 70px;
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9;

    p {
      margin-bottom: 1rem;
    }
  }

  .about-cards {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

    .about-card {
      display: flex;
      align-items: start;
      gap: 18px;
      font-size: 0.82rem;

      img {
        width: 30px;
        margin-top: 8px;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }

    .about-card i {
      color: $green;
    }
  }
}