@import '../layout.scss';

#about-me {
  padding: 0px $gutter;

  .pins-box {
    display: flex;
    gap: 25px;

    .pin-card {

      h3 {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 500;
      }
    }
  }

  
}