@use '../_layout.scss' as *;

.hero {
  position: relative;
  min-height: 100vh;
  color: $light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;

  .hero-img {
    position: absolute;
    inset: 0;
    z-index: -2;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .hero-content {
    margin-top: 3rem;
    
    .hero-title {
      font-size: clamp(1.6rem, 4vw, 2.6rem);
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      font-weight: bold;
      border-top: 2px solid $white;
      border-bottom: 2px solid $white;
    }
  }
}